{% assign startVar = include.start %}
{% assign endVar = include.end %}
{% assign months = site.data.months["abbreviation"] %}

{% if startVar %}

  {% if endVar %}

    {% assign start = startVar | date: "%Y" %}
    {% assign end = endVar | date: "%Y" %}

      {% if start == end %}
      {% comment %} Same year: display months {% endcomment %}

      {% assign start = startVar | date: "%b" | capitalize %}
      {% assign end = endVar | date: "%b %Y" | capitalize %}
      {% comment %} Changes the english month to the french {% endcomment %}
      {% for month in months %}
        {% assign start = start | replace: month['en'] , month[page.lang] %}
        {% assign end = end | replace: month['en'] , month[page.lang] %}
    {% endfor %}
      {% comment %} display the date {% endcomment %}
      {{ start }} - {{ end }}
    {% else %}
      {% comment %} Different years, display years {% endcomment %}
      {{ start }} - {{ end }}
    {% endif %}

  {% else %}
    {{ startVar | date: "%Y" }} - {{ site.data[page.lang].home["date-default"] }}
  {% endif %}

{% endif %}