{% comment %} URL can be used to check if the language is selected or not {% endcomment %}
{% assign lang_url = include.url %}
{% assign img_src = include.img_src %}

{% if lang_url %}
  <a class="lang-container style-crystal-container" href="{{ lang_url }}">
    {% include styleCrystals.html start=21 end=28 %}
    <img
      class="lang-icon"
      src="{{ img_src }}"
      alt="">
  </a>
{% else %}
  <div class="lang-container style-crystal-container style-crystal-always-visible no-hover">
    {% include styleCrystals.html start=21 end=28 %}
    <img
      class="lang-icon"
      src="{{ img_src }}"
      alt="">
  </div>
{% endif %}