// Usable classes:
// - style-crystal-container: use on everything with crystals inside. It sets their origin.
// - style-crystal-always-visible: use to always display the crystals.
// - no-animation: use to remove crystal animation when they open or close.
// - no-hover: use to disable the hover effect on the crystals.

// Inside a class:
// @include crystalStyle.crystal-style-hover-placeholder;
// To open the crystals

$bg-color1: #39b5f2;
$bg-color2: #00a9ff;
$blue1: rgba(42, 208, 248, 1);
$blue2: rgba(37, 197, 242, 1);
$blue3: rgba(49, 188, 244, 1);
$blue4: rgba(34, 189, 231, 1);
$blue5: rgba(40, 175, 228, 1);

@mixin crystal-style-placeholder {
  position: relative;

  .style-crystal {
    position: absolute;
    width: 0;
    height: 0;
    transition:
      border 0.7s ease,
      width 0.7s ease;
    z-index: 0;
  }

  &.no-animation {
    .style-crystal {
      transition: none;
    }
  }

  $hiddenBorder: 0 solid transparent;

  .cry1 {
    border-top: $hiddenBorder;
    border-right: $hiddenBorder;
    border-top-color: rgba(24, 255, 255, 0.3);
    top: 0;
    left: 0;
  }

  .cry2 {
    border-top: $hiddenBorder;
    border-left: $hiddenBorder;
    border-top-color: rgba(0, 96, 155, 0.2);
    top: 0;
    right: 0;
  }

  .cry3 {
    border-bottom: $hiddenBorder;
    border-right: $hiddenBorder;
    border-bottom-color: rgba(0, 96, 100, 0.1);
    bottom: 0;
    left: 0;
  }

  .cry4 {
    border-bottom: $hiddenBorder;
    border-left: $hiddenBorder;
    border-bottom-color: rgba(2, 136, 209, 0.3);
    bottom: 0;
    right: 0;
  }

  .cry5 {
    border-top: $hiddenBorder;
    border-right: $hiddenBorder;
    border-top-color: rgba(24, 255, 255, 0.3);
    top: 0;
    left: 0;
  }

  .cry6 {
    border-bottom: $hiddenBorder;
    border-right: $hiddenBorder;
    border-bottom-color: rgba(0, 96, 100, 0.1);
    bottom: 0;
    left: 0;
  }

  .cry7 {
    border-bottom: $hiddenBorder;
    border-right: $hiddenBorder;
    border-bottom-color: rgba(14, 138, 214, 0.2);
    bottom: 0;
    left: 0;
  }

  .cry8 {
    border-top: $hiddenBorder;
    border-right: $hiddenBorder;
    border-top-color: rgba(18, 191, 210, 0.2);
    border-top-color: rgba(24, 255, 255, 0.1);
    top: 0;
    left: 0;
  }

  .cry9 {
    border-top: $hiddenBorder;
    border-right: $hiddenBorder;
    border-top-color: $blue1;
    top: 0;
    left: 0;
  }

  .cry10 {
    border-top: $hiddenBorder;
    border-right: $hiddenBorder;
    border-top-color: $blue2;
    top: 0;
    left: 0;
  }

  .cry11 {
    border-top: $hiddenBorder;
    border-left: $hiddenBorder;
    border-top-color: $blue3;
    top: 0;
    right: 0;
  }

  .cry12 {
    border-bottom: $hiddenBorder;
    border-left: $hiddenBorder;
    border-bottom-color: $blue1;
    bottom: 0;
    right: 0;
  }

  .cry13 {
    border-top: $hiddenBorder;
    border-left: $hiddenBorder;
    border-top-color: $blue5;
    top: 0;
    right: 0;
  }

  .cry14 {
    border-bottom: $hiddenBorder;
    border-right: $hiddenBorder;
    border-bottom-color: $blue5;
    bottom: 0;
    left: 0;
  }

  .cry15 {
    border-bottom: $hiddenBorder;
    border-right: $hiddenBorder;
    border-bottom-color: $blue1;
    bottom: 0;
    left: 0;
  }

  .cry16 {
    border-bottom: $hiddenBorder;
    border-left: $hiddenBorder;
    border-bottom-color: $blue4;
    bottom: 0;
    right: 0;
  }

  .cry17 {
    border-top: $hiddenBorder;
    border-right: $hiddenBorder;
    border-top-color: $bg-color1;
    top: 0;
    right: calc(calc(var(--banner-width) * 1) / 8);

    width: calc(calc(var(--banner-width) * 5) / 8);
    border-top-width: calc(var(--banner-height));
    border-right-width: calc(calc(var(--banner-width) * 2) / 8);

    transform: translate(30%, -100%);

    transition: transform 0.7s ease-in;
  }

  .cry18 {
    border-bottom: $hiddenBorder;
    border-left: $hiddenBorder;
    border-bottom-color: $blue2;
    bottom: 0;
    right: 0;
  }

  .cry19 {
    border-top: $hiddenBorder;
    border-right: $hiddenBorder;
    border-top-color: $blue1;
    top: 0;
    left: 0;
  }

  .cry20 {
    border-bottom: $hiddenBorder;
    border-right: $hiddenBorder;
    border-bottom-color: $blue2;
    bottom: 0;
    left: 0;
  }

  .cry21 {
    border-top: $hiddenBorder;
    border-bottom: $hiddenBorder;
    border-left: $hiddenBorder;

    border-left-color: $bg-color1;
    border-top-color: $bg-color1;
    top: 0;
    right: 0;
  }

  .cry22 {
    border-top: $hiddenBorder;
    border-bottom: $hiddenBorder;
    border-right: $hiddenBorder;

    border-right-color: $blue4;
    border-bottom-color: $blue4;
    bottom: 0;
    right: 0;
  }

  .cry23 {
    border-top: $hiddenBorder;
    border-right: $hiddenBorder;

    border-top-color: $blue1;

    top: 0;
    left: 0;
  }

  .cry24 {
    border-bottom: $hiddenBorder;
    border-left: $hiddenBorder;
    border-bottom-color: $blue1;
    top: 0;
    right: 0;
  }

  .cry25 {
    border-top: $hiddenBorder;
    border-bottom: $hiddenBorder;
    border-left: $hiddenBorder;
    border-right: $hiddenBorder;

    border-top-color: $blue5;
    border-left-color: $blue5;

    top: 0;
    left: 0;
  }

  .cry26 {
    border-bottom: $hiddenBorder;
    border-right: $hiddenBorder;
    border-bottom-color: $blue3;
    bottom: 0;
    left: 0;
  }

  .cry27 {
    border-top: $hiddenBorder;
    border-bottom: $hiddenBorder;
    border-left: $hiddenBorder;
    border-right: $hiddenBorder;

    border-left-color: $blue1;
    border-bottom-color: $blue1;

    bottom: 0;
    left: 0;
  }

  .cry28 {
    border-top: $hiddenBorder;
    border-bottom: $hiddenBorder;
    border-left: $hiddenBorder;
    border-right: $hiddenBorder;

    border-right-color: $blue3;
    border-bottom-color: $blue3;

    bottom: 0;
    right: 0;
  }
}

@mixin crystal-style-hover-placeholder {
  .cry1 {
    border-top-width: calc(var(--banner-height) / 3);
    border-right-width: calc(calc(var(--banner-width) * 4) / 5);
  }

  .cry2 {
    border-top-width: calc(var(--banner-height));
    border-left-width: calc(calc(var(--banner-width) * 1) / 4);
  }

  .cry3 {
    border-bottom-width: calc(calc(var(--banner-height) * 2) / 3);
    border-right-width: calc(calc(var(--banner-width) * 1) / 3);
  }

  .cry4 {
    border-bottom-width: calc(var(--banner-height) * 2 / 5);
    border-left-width: var(--banner-width);
  }

  .cry5 {
    border-top-width: calc(var(--banner-height));
    border-right-width: calc(calc(var(--banner-width) * 4) / 5);
  }

  .cry6 {
    border-bottom-width: calc(var(--banner-height));
    border-right-width: calc(calc(var(--banner-width) * 1) / 2);
  }

  .cry7 {
    width: calc(calc(var(--banner-width) * 3) / 8);
    border-bottom-width: calc(var(--banner-height));
    border-right-width: calc(calc(var(--banner-width) * 1) / 8);
  }

  .cry8 {
    width: calc(calc(var(--banner-width) * 5) / 8);
    border-top-width: calc(var(--banner-height));
    border-right-width: calc(calc(var(--banner-width) * 2) / 8);
  }

  .cry9 {
    border-top-width: calc(var(--banner-height) / 6);
    border-right-width: calc(calc(var(--banner-width) * 3) / 5);
  }

  .cry10 {
    border-top-width: calc(var(--banner-height) / 3);
    border-right-width: calc(calc(var(--banner-width) * 1) / 5);
  }

  .cry11 {
    border-top-width: calc(var(--banner-height) / 6);
    border-left-width: calc(calc(var(--banner-width) * 4) / 6);
  }

  .cry12 {
    border-bottom-width: calc(var(--banner-height) * 1 / 2);
    border-left-width: calc(calc(var(--banner-width) * 1) / 5);
  }

  .cry13 {
    border-top-width: calc(calc(var(--banner-height) * 4) / 6);
    border-left-width: calc(calc(var(--banner-width) * 1) / 6);
  }

  .cry14 {
    border-bottom-width: calc(calc(var(--banner-height) * 1) / 6);
    border-right-width: calc(calc(var(--banner-width) * 4) / 5);
  }

  .cry15 {
    border-bottom-width: calc(calc(var(--banner-height) * 1) / 2);
    border-right-width: calc(calc(var(--banner-width) * 1) / 5);
  }

  .cry16 {
    border-bottom-width: calc(var(--banner-height) * 1 / 6);
    border-left-width: calc(calc(var(--banner-width) * 4) / 5);
  }

  .cry17 {
    transform: translate(0, 0);
  }

  .cry18 {
    width: calc(calc(var(--banner-width) * 1) / 8);
    border-bottom-width: calc(var(--banner-height));
    border-left-width: calc(calc(var(--banner-width) * 2) / 8);
  }

  .cry19 {
    border-top-width: calc(var(--banner-height));
    border-right-width: calc(calc(var(--banner-width) * 4) / 5);
  }

  .cry20 {
    border-bottom-width: calc(var(--banner-height));
    border-right-width: calc(calc(var(--banner-width) * 1) / 2);
  }

  .cry21 {
    border-top-width: calc(calc(var(--banner-height) * 3.6) / 8);
    border-bottom-width: calc(var(--banner-height) / 8);
    border-left-width: calc(calc(var(--banner-width)));
  }

  .cry22 {
    border-bottom-width: calc(calc(var(--banner-height) * 3.6) / 8);
    border-top-width: calc(var(--banner-height) / 8);
    border-right-width: calc(calc(var(--banner-width)));
  }

  .cry23 {
    border-top-width: calc(var(--banner-height));
    border-right-width: calc(calc(var(--banner-width) * 6) / 8);
  }

  .cry24 {
    width: calc(var(--banner-width) / 8);
    border-bottom-width: calc(var(--banner-height));
    border-left-width: calc(calc(var(--banner-width) * 2) / 8);
  }

  .cry25 {
    border-left-width: calc(calc(var(--banner-width) * 4.81) / 8);
    border-top-width: calc(var(--banner-height) / 5);
    border-bottom-width: calc(var(--banner-height) / 5);
    border-right-width: calc(calc(var(--banner-width) * 1) / 6);
  }

  .cry26 {
    border-bottom-width: calc(calc(var(--banner-height) * 4) / 5);
    border-right-width: calc(calc(var(--banner-width) * 4) / 8);
  }

  .cry27 {
    border-right-width: calc(calc(var(--banner-width) * 1) / 8);
    border-bottom-width: calc(var(--banner-height) / 5);
    border-top-width: calc(var(--banner-height) / 16);
    border-left-width: calc(calc(var(--banner-width) * 3) / 8);
  }

  .cry28 {
    border-bottom-width: calc(var(--banner-height) / 4);
    border-top-width: calc(var(--banner-height) / 8);
    border-right-width: calc(calc(var(--banner-width) * 5) / 16);
    border-left-width: calc(calc(var(--banner-width) * 1) / 16);
  }
}

.style-crystal-container {
  @include crystal-style-placeholder;
}

.style-crystal-container {
  @media screen and (min-width: 461px) {
    &:hover:not(.no-hover) {
      @include crystal-style-hover-placeholder;
    }
  }
}

.style-crystal-always-visible {
  @include crystal-style-hover-placeholder;
}
