// Uncomment below to get the HTML code for the crystal banner
// <div class="crystal-container">
//   <div class="crystal c4"></div>
//   <div class="crystal c7"></div>
//   <div class="crystal c9"></div>
// </div>

.crystal-container {
  position: relative;
  display: flex;
  width: 100%;
  height: fit-content;
  background: radial-gradient(at top left, rgb(0, 188, 212), rgb(3, 169, 244));

  :not(.crystal) {
    z-index: 1;
  }

  .crystal {
    width: 0;
    height: 0;
    position: absolute;
    transition: border 0.01s;
  }

  .c1 {
    border-bottom: calc(var(--banner-height) / 4) solid rgba(0, 96, 100, 0.1);
    border-right: var(--banner-width) solid transparent;
    bottom: 0;
    right: 0;
  }

  .c2 {
    border-bottom: calc(var(--banner-height) * 2 / 5) solid
      rgba(2, 136, 209, 0.3);
    border-left: var(--banner-width) solid transparent;
    bottom: 0;
    left: 0;
  }

  .c3 {
    border-top: calc(var(--banner-height) / 2) solid rgba(0, 96, 155, 0.2);
    border-right: calc(calc(var(--banner-width) * 2) / 5) solid transparent;
    border-left: calc(calc(var(--banner-width) * 3) / 5) solid transparent;
    top: 0;
    right: 0;
  }

  .c4 {
    border-top: calc(var(--banner-height)) solid rgba(24, 255, 255, 0.3);
    border-right: calc(calc(var(--banner-width) * 4) / 5) solid transparent;
    border-left: calc(var(--banner-width) / 5) solid transparent;
    top: 0;
    left: 0;
  }

  .c5 {
    border-bottom: calc(calc(var(--banner-height) * 5) / 8) solid transparent;
    border-top: calc(var(--banner-height) / 4) solid transparent;
    border-right: calc(var(--banner-width)) solid rgba(128, 216, 255, 0.3);
    bottom: calc(calc(var(--banner-height) * 1) / 40);
    right: 0;
  }

  .c6 {
    border-bottom: calc(var(--banner-height)) solid rgba(79, 195, 247, 0.5);
    border-right: calc(var(--banner-width) / 10) solid transparent;
    border-left: calc(calc(var(--banner-width) * 1) / 10) solid transparent;
    bottom: 0;
    right: calc(var(--banner-width) / 10);
  }

  .c7 {
    border-top: calc(var(--banner-height) * 0.9175) solid rgba(2, 142, 155, 0.2);
    border-left: calc(calc(var(--banner-width) * 4) / 5) solid transparent;
    top: 0;
    right: 0;
  }

  .c8 {
    border-top: calc(var(--banner-height) / 8) solid rgba(167, 255, 235, 0.4);
    border-right: calc(calc(var(--banner-width) * 3) / 5) solid transparent;
    top: 0;
    left: 0;
  }

  .c9 {
    border-top: calc(var(--banner-height)) solid rgba(0, 176, 255, 0.4);
    border-right: calc(calc(var(--banner-width) * 3) / 10) solid transparent;
    top: 0;
    left: 0;
  }

  #c10 {
    border-bottom: calc(var(--banner-height)) solid rgba(128, 222, 234, 0.2);
    border-right: calc(var(--banner-width) / 5) solid transparent;
    border-left: calc(var(--banner-width) / 5) solid transparent;
    bottom: 0;
    right: calc(calc(var(--banner-width) * 3) / 5);
  }
}
