@use "crystalStyle" as crystalStyle;

$headerHeightClosed: 60px;
$headerHeightOpened: 164px;

header {
  height: $headerHeightClosed;
  font-family: "Orbitron", sans-serif;
}

.outside-menu {
  position: fixed;
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: none;
  background-color: black;
  opacity: 0.6;

  &.menu-open {
    display: flex;
  }
}

.header {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: fit-content;
  background: linear-gradient(to right, #39b5f2, #00a9ff);

  color: #f1f1f1;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  overflow-y: hidden;
  position: fixed;
  top: 0;
  z-index: 1000;

  .header-background {
    position: absolute;
    width: 100%;
    height: $headerHeightOpened;
    z-index: 0;
  }
}

.menu-name {
  display: flex;
  flex-direction: row;
  height: $headerHeightClosed;

  //////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////
  //////////////// Code for the hamburger menu/cross button ////////////////////
  //////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////
  .menu-icon {
    width: fit-content;
    padding: 19px 10px;
    margin: 0;
    border: none;
    background: none;

    display: none;
    flex-direction: column;
    justify-content: space-between;

    span {
      background-color: #f1f1f1;
      align-self: center;
      margin: 0;
      padding: 0;
      opacity: 1;
      height: 4px;
      width: 2rem;
      border-radius: 10px;
      transform: rotate(0);
      transform-origin: center;
      transition:
        transform 0.6s,
        opacity 0.6s;
    }

    &.cross {
      span:nth-child(1) {
        transform: translateY(200%) rotate(45deg);
      }

      span:nth-child(2) {
        transform: rotate(270deg);
        opacity: 0;
      }

      span:nth-child(3) {
        transform: translateY(-200%) rotate(-45deg);
      }
    }
  }

  //////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////
  ////////////////// Code for the name and different routes ////////////////////
  //////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////

  .name-title {
    width: fit-content;

    display: flex;
    align-items: center;

    a {
      z-index: 2;
      height: 100%;

      padding-left: 20px;
      padding-right: 20px;

      display: flex;
      align-items: center;

      text-decoration: none;
      font-size: 1.3rem;
      font-weight: bold;
      color: #f1f1f1;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
  }
}

.navbar-container {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;

  .navbar-el {
    width: fit-content;
    height: $headerHeightClosed;

    display: flex;
    align-items: center;

    a {
      width: fit-content;
      z-index: 2;
      height: 100%;

      padding-left: 20px;
      padding-right: 20px;

      display: flex;
      align-items: center;

      text-decoration: none;
      font-size: 1.2rem;
      color: #f1f1f1;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
////////////////////////// Code for responsiveness ///////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 460px) {
  .header {
    flex-direction: column;

    .header-background.opened {
      @include crystalStyle.crystal-style-hover-placeholder;
    }
  }

  .menu-name {
    .menu-icon {
      display: flex;
    }
  }

  .navbar-container {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    max-height: 0px;
    transition: max-height 0.7s;

    &.opened {
      max-height: $headerHeightOpened - $headerHeightClosed;
    }

    .navbar-el {
      width: 100%;
      a {
        width: 100%;
      }
    }
  }
}
