main {
  min-height: calc(100vh - 80px);
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .resume {
    width: fit-content;
    max-width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    a {
      text-decoration: underline;
      font-weight: bold;
      color: #31bcf4;
    }

    .other-language {
      margin-top: 20px;
      margin-bottom: 10px;
      align-self: flex-end;
      margin-right: 10px;
    }

    .resume-container {
      display: flex;
      flex-direction: column;
      padding: 20px;

      border-radius: 10px;
      border: solid rgba(42, 208, 248, 1) 4px;

      box-sizing: border-box;
      max-width: 100%;
      width: 900px;

      font-size: 1.05rem;

      .btn-download {
        padding: 15px 15px;

        width: fit-content;
        border-radius: 8px;
        text-decoration: none;
        font-size: 1rem;
        background-color: #31bcf4;

        align-self: flex-end;
        overflow: hidden;
        z-index: 1;

        transition: background-color 0.7s;

        .text {
          display: flex;
          color: #f1f1f1;
          font-weight: bold;
          position: relative;
          align-items: center;
          gap: 10px;

          .svg-icon {
            width: 20px;
            height: 20px;
          }
        }

        .style-crystal {
          z-index: 0;
        }
      }

      .alt-pdf-view {
        margin-top: 20px;
      }

      .img-resume {
        margin-top: 30px;

        align-self: center;
        object-fit: contain;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 30px 10px;
  }
}
