.timeline {
  $delayStart: 0.4s;

  position: relative;
  max-width: 1200px;
  height: fit-content;
  padding: 30px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    background-color: rgb(104, 225, 255);
    top: 0;
    bottom: 0;
    border-radius: 30px;
    left: 50%;
    margin-left: -3px;
  }

  .timeline-item-container {
    box-sizing: border-box;
    position: relative;
    width: 100%;

    /* The small dot on the timeline line */
    .timeline-dot {
      position: absolute;
      left: calc(50% - 12px);
      width: 16px;
      height: 16px;
      background-color: white;
      border: 4px solid rgb(104, 225, 255);
      top: 20px;
      border-radius: 50%;
    }

    &.left {
      .timeline-content {
        float: left;
      }

      .timeline-date {
        left: 52%;
        text-align: right;
      }
    }

    &.right {
      .timeline-content {
        float: right;
      }

      .timeline-date {
        right: 52%;
        direction: rtl;
        text-align: left;
      }
    }

    .timeline-date {
      position: absolute;
      top: 22px;

      font-size: 1.2rem;
      font-weight: bold;
      color: #31bcf4;

      overflow: hidden;
      white-space: nowrap;
      width: fit-content;
      max-width: 30ch;

      transition: max-width 1s ease-in;
      transition-delay: $delayStart;

      $delayStart: $delayStart + 0.2s;
    }

    .timeline-content {
      position: relative;
      width: 48%;
      border-radius: 15px;
      border: solid rgba(42, 208, 248, 1) 4px;
      background-color: white;
      overflow: hidden;
      box-sizing: border-box;

      padding: 15px;

      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      // box-shadow: 0 4px 8px 0 #31bcf4;
      transition: 0.3s;

      color: black;

      &:hover {
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5);
      }

      .style-crystal {
        transition:
          border 0.5s ease-in,
          width 0.5s ease-in,
          transform 0.5s ease-in;

        $timelineOffsets: (
          "cry17": 0.4s,
          "cry19": 0.3s,
          "cry20": 0.3s,
          "cry18": 0.3s,
        );

        @each $name, $offset in $timelineOffsets {
          &.#{$name} {
            $delayStart: $delayStart + $offset;
            transition-delay: $delayStart;
          }
        }
      }
    }

    &.style-crystal-always-visible {
      .timeline-content {
        .style-crystal {
          transition:
            border 0s,
            width 0s;

          @for $i from 17 through 20 {
            &.cry#{$i} {
              transition-delay: 0ms;
            }
          }
        }
      }

      .timeline-date {
        max-width: 0;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .timeline {
    .timeline-item-container {
      .timeline-content {
        width: 47%;
      }

      &.left {
        .timeline-date {
          left: 53%;
        }
      }

      &.right {
        .timeline-date {
          right: 53%;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .timeline {
    .timeline-item-container {
      .timeline-content {
        width: 46%;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .timeline {
    padding: 30px 0;

    /* Place the timelime to the left */
    &::before {
      left: 20px;
    }

    /* Full-width containers */
    .timeline-item-container {
      padding-left: 40px;
      padding-right: 20px;

      .timeline-dot {
        left: 8px;
      }

      &,
      &.left,
      &.right {
        .timeline-date {
          text-align: left;
          transition: max-width 0s;
          left: 60px;
          bottom: 0.9rem;
          top: auto;
          font-size: 1.1rem;
        }
      }

      /* Make all right containers behave like the left ones */
      &.right {
        .timeline-content {
          float: left;
        }
      }

      .timeline-content {
        width: 100%;
        padding-bottom: 2.5rem !important;
      }
    }
  }
}
