---
  layout: default
  stylesheet: /assets/css/portfolio.css
  scripts: |
    <script src="/assets/js/displayElementOnScroll.js"></script>
    <script>
      window.addEventListener("load", () => {
        const timelineItem =  document.querySelectorAll(".timeline-item-container");
        removeClassToElementsOnScrollVisible(timelineItem, "style-crystal-always-visible", true);
        });
    </script>
---

{% assign string = site.data[page.lang].portfolio %}

<!-- -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------
  --------------------------------- Skill description ----------------------------
  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- -->
{% assign skill = site.data.skillsBUT[page.skill] %}
<section class="skill-description">
  <img
    src="{{skill.image}}"
    alt="{{skill[page.lang].name}} icon"
    class="skill-icon">

  <div class="section-title">
    {{ string['skill-title'] }} {{ skill[page.lang].name }}
  </div>

  <div class="skill-subtitle">
    {{ skill[page.lang].subtitle }}
  </div>

  <div class="skill-description">
    {{ skill[page.lang].description }}
  </div>
</section>
<!-- -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------
  ---------------------------------- Project list --------------------------------
  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- -->
<section class="project-list">
  {% assign skill_projects = site.categories[skill.id] | where: "lang", page.lang %}

  <div class="section-title">
    {{ string['associated-projects'] }}
  </div>

  {% if skill_projects.size > 0 %}

    {% assign unfinished = skill_projects | where_exp: "p", "p.end == nil" | sort: "date" | reverse %}
    {% assign finished = skill_projects | where_exp: "p", "p.end != nil" | sort: "date" | reverse %}

    <div class="project-list-container">

      {% assign projects = unfinished | concat: finished %}
      {% for post in projects %}
        <a class="card" href="{{post.url}}">

          {% if post.image-path %}
            <img
              class="card-image"
              src="{{ post.image-path }}"
              alt="{{ post.image-alt }}">
          {% endif %}
          <div class="card-content">
            <div class="card-title">
              {{ post.title }}
            </div>

            <div class="card-project-type">
              {% if post.project-type %}
                {{ post.project-type }}
              {% endif %}
            </div>

            <div class="card-date">
              {% assign months = site.data.months["full-name"] %}
              {% assign dateFormat = "%B %-d, %Y" %}
              {% if page.lang == 'fr' %}
                {% assign dateFormat = "%-d %B %Y" %}
              {% endif %}
              {% assign startDate = post.date | date: dateFormat %}
              {% assign endDate = post.end | date: dateFormat | default: string["date-default"] %}

              {% for month in months %}
                {% assign startDate = startDate | replace: month['en'] , month[page.lang] %}
                {% assign endDate = endDate | replace: month['en'] , month[page.lang] %}
              {% endfor %}
              {{ startDate }} - {{ endDate }}
            </div>

            <div class="card-extract">
              <p>{{ post.description | strip }}</p>
            </div>

            {% if post.tags.size > 0 %}
              <ul class="card-tags">
                {% for tag in post.tags %}
                  <li class="card-tag-item">
                    {{ tag }}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </a>
      {% endfor %}
    </div>

  {% else %}
    <div class="no-projects">
      {{ string['no-associated-projects'] }}
    </div>
  {% endif %}
</section>

<!-- -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------
  ---------------------------------- Other skills --------------------------------
  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- -->
<section class="see-other-skills">
  <div class="section-title">
    {{ string['see-other-skills'] }}
  </div>
  <div class="skill-iut-list">
    {% for skillItem in site.data.skillsBUT %}
      {% if skillItem.id != skill.id %}
        <a class="skill-iut-container" href="{{skillItem[page.lang].url}}">
          <img
            src="{{skillItem.image}}"
            alt="{{skillItem[page.lang].name}} icon"
            class="skill-iut-icon">
          <div class="skill-iut-title">
            {{ skillItem[page.lang].name }}
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</section>


<!-- -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------
  ---------------------------------- Custom css ----------------------------------
  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- -->
<style>
  main {
    min-height: 100vh;
  }

  section.skill-description {
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }

  .section-title {
    font-family: "Orbitron"
    , sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 2.8rem;
    position: relative;
    z-index: 1;
  }

  .skill-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
    padding: 10px;
    background-color: rgb(104, 225, 255);
    border-radius: 50%;
  }

  .skill-subtitle {
    font-size: 1.7rem;
    text-align: center;
  }

  .skill-description {
    font-size: 1.1rem;
    text-align: center;
  }

  @media screen and (max-width: 500px) {
    .section-title {
      font-size: 2rem;
    }
  }


  /* *********************************************************
    *********************************************************
    *********************************************************
    ********************************************************* */

  section.project-list {
    margin-bottom: 50px;
  }

  section.project-list .section-title {
    margin-bottom: 30px;
  }

  .no-projects {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
  }

  .project-list-container {
    box-sizing: border-box;
    position: relative;
    padding: 0 40px;
    width: 100%;
    display: grid;
    gap: 30px;

    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    justify-items: center;
  }

  .card {
    max-width: 430px;
    border: solid rgba(42, 208, 248, 1) 4px;
    border-radius: 15px;
    /* background: linear-gradient(to bottom right, #39b5f2, #00a9ff); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: black;
    text-decoration: none;

    display: flex;
    flex-direction: column;

    transition: box-shadow 0.5s
    , opacity 1s
    , filter 1s
    , transform 1s;

    opacity: 1;
    transform: translateY(0);
    box-sizing: border-box;
    overflow: hidden;

  }

  .card:hover {
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.5);
  }

  .card.off-screen {
    opacity: 0;
    transform: translateY(25%);
  }

  .card-image {
    max-width: 100%;
    align-self: center;
    object-fit: contain;
  }

  .card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #31bcf4;
  }

  .card-project-type {
    margin-top: 5px;
    font-size: 1.1rem;
    color: #31bcf4;
  }

  .card-date {
    margin-top: 10px;
  }

  .card-extract {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .card-extract p {
    margin: 0;
  }

  .card-tags {
    margin: auto 0 0;
    padding: 0;

    list-style-type: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

  }

  .card-tag-item {
    font-size: 0.85rem;
    color: white;
    background-color: #39b5f2;
    padding: 5px 10px;
    border-radius: 9999px;
    font-weight: bold;
  }


  /* *********************************************************
    *********************************************************
    *********************************************************
    ********************************************************* */

  section.see-other-skills {
    margin-bottom: 70px;
  }

  section.see-other-skills .section-title {
    margin-bottom: 30px;
  }

  .skill-iut-list {
    margin: 0;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 20px;
  }

  .skill-iut-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    justify-content: start;
    align-items: center;

    text-align: center;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;

    transition: all 1.5s;

    opacity: 1;
    transform: translateY(0);

    padding: 10px;

    /* height: fit-content; */
    width: 100px;
    border: solid rgba(42, 208, 248, 1) 8px;
    border-radius: 15px;
    background: linear-gradient(to bottom right, #39b5f2, #00a9ff);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: white;

  }

  .skill-iut-container.off-screen {
    opacity: 0;
    transform: translateY(50%);
  }

  .skill-iut-container:hover {
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.5);
  }


  .skill-iut-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
    padding: 10px;
    background-color: rgb(104, 225, 255);
    border-radius: 50%;
  }

  .skill-iut-title {
    font-size: 1.2rem;
    font-weight: bold;
  }


</style>